body
{
    background-color:white;
}
div{
  background: #333;
}
#cuadro{
  width: 600px;
  height: 300px;
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.margin_reg {
  margin-top: 5%
}


#NavBar{
  height:5%;
  }


.imgnA{
    display: block;
    margin: 0 auto;
}




.loginInput{
  position:relative;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  margin-top: 5px;
  }

.margin
{
  margin-top: 15%;
}
.marginReg {
  margin-top: 5%;
}

.logo{
  height:18px;
  width:18px; 
}

img{
  max-width: 100%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
/* para que se pongan al lado del otro */
li {
    float: left;
}
.right{
  float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.active {
    background-color: #4CAF50;
}